{{#unless audioCompatible}}
  <p class="audio-warning">
  So far the audio recorder only works in Chrome for Windows.
  </p>
{{/unless}}
<h4 class="widget-head">{{name}}</h4>
{{#if wavConverterLoaded}}
  <a class="btn btn-info show-and-tell-audio-btn record">record</a>
  <a class="btn btn-info show-and-tell-audio-btn stop">stop</a>
  <span class="recording" style="display:none;">Recording...</span>
  <hr>
  <div>
  {{#if value}}
    {{#if value.converting}}
      <p>Converting from wav format...</p>
    {{else}}
      <audio controls="" autoplay="" name="media">
          <source src="{{value.dataURL}}" type="audio/webm; codecs=vorbis">
      </audio>
      <a class="clear transparent-btn btn">clear</a>
    {{/if}}
  {{/if}}
  </div>
{{else}}
  {{#if wavConverterLoading}}
    <h3>Loading Wav converter...</h3>
  {{else}}
    <p>To use the audio recorder you need to load a 20 megabyte script
      that coverts your recordings to a smaller format.
    </p>
    <a class="btn btn-default enable-audio">Okay, do it!</a>
    &nbsp;&nbsp;<input type="checkbox" id="rememberWavConverter" /> Remember my decision
  {{/if}}
{{/if}}