<h4 class="widget-head">{{name}}</h4>
{{#unless audioCompatible}}
  <p class="audio-warning">
  So far the audio recorder only works in Desktop verions of Chrome.
  </p>
{{/unless}}
{{#if wavConverterLoaded}}
  <a class="btn btn-info show-and-tell-audio-btn record {{#if recording}}active{{/if}}">record</a>
  <a class="btn btn-info show-and-tell-audio-btn stop">stop</a>
  {{#if recording}}
    <span class="recording">Recording...</span>
  {{/if}}
  <hr>
  <div>
  {{#if value}}
    {{#if value.converting}}
      <p>Converting from wav format...</p>
    {{else}}
      {{#if value.dataURL}}
        <audio controls="" name="media">
          <source src="{{value.dataURL}}" type="audio/webm; codecs=vorbis">
        </audio>
        <a class="clear transparent-btn btn">clear</a>
      {{/if}}
    {{/if}}
  {{/if}}
  </div>
{{else}}
  {{#if wavConverterLoading}}
    <h3>Loading Wav converter...</h3>
  {{else}}
    <p>To use the audio recorder you need to load a 20 megabyte script
      that coverts your recordings to a smaller format.
    </p>
    <a class="btn btn-default enable-audio">Okay, do it!</a>
    &nbsp;&nbsp;<input type="checkbox" id="rememberWavConverter" checked /> Remember my decision
  {{/if}}
{{/if}}